.table-striped {
  margin: auto;
  width: 65%;
  border: 1px solid lightgray;

}

.button {

  position: absolute;
  left: 330px;
}

.btn-outline-secondary {
  width: 145px !important;
}

td {
  line-height: 40px;

}

