<!--------------------------- BOOKS & AUTHORS --------------------------------->
<!-- <a [routerLink]="['/bookList']" style="margin-left: 55px"
    routerLinkActive="router-link-active"
    class="btn btn-danger">Books </a>

 <a [routerLink]="['/authorList']" style="margin-left: 55px"
    routerLinkActive="router-link-active"
    class="btn btn-danger">Authors</a>-->

<div class="row">
  <div class="col">
    <app-categories></app-categories>
  </div>

  <div class="col-md-8">
    <app-book-list></app-book-list>
  </div>

  <div class="col">
    <app-cart></app-cart>
  </div>
</div>
