<div class="merso">
  <button type="button" class="btn btn-info" style="margin-top: 20px;"
          data-toggle="modal"
          data-target="#addBook">Add Book
  </button>
</div>

<table class="table table-striped" style="margin-top: 50px; width: 40%; border-radius: 10px !Important">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"><h4> Author name </h4></th>
    <th scope="col"><h4> Book title </h4></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of bookList">
    <th scope="row"></th>
    <td>
      <a routerLink="/book/{{ book.id }}" class="btn btn-outline-secondary">
        {{ book.authorName }}
      </a>
    <td> {{ book.title }}</td>
  </tr>


  </tbody>
</table>




<!-- ADD AUTHOR-->
<div class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!--HEADER-->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Book</h5>
        <button class="close" id="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!--BODY-->
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="name">Book title</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="book.title" name="name">
          </div>


          <div class="form-group">
            <label for="author">Select author</label>
            <select [(ngModel)]="authorId" class="form-control" name="author" id="author">
              <option *ngFor="let author of authorList" [ngValue]="author.id">{{author.name}}</option>
            </select>
          </div>

        </form>
        <!--FOOTER-->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" id="btn" data-dismiss="modal"
                  (click)="saveBook()">OK
          </button>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
