.pdetail {
  font-size: 20px;
  font-family: Verdana, serif;
  color: #e3393a;

}

.bdetails {
  margin-top: 50px;
  margin-left: 30%;
}

img {

}

.title {
  font-family: GT Super Bold, serif;
  letter-spacing: -1px;

}

.card-text1 {
  border: 1px solid darkslategray;
  border-radius: 3px;
  padding: 10px;
  width: 210px;

}

.card-text1:hover {
  background-color: azure;
}

/*
.card-title {
  font-family:GT Super Bold, serif;
  font-weight: bolder;
}
*/
