<div *ngIf="!book" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>


<div *ngIf="book" class="container bcontent" style="width: 40%">

  <hr/>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" [src]="book.imageName">
      <div class="card-body">
        <h5 class="card-title">{{book.title }}</h5>
        <p class="card-text">{{book.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Image & Description</small>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">"{{book.title}}"</h5>
        <hr/>
        <h6 class="card-text"><b>{{book.authorName}} (Author)</b></h6>

        <h5 class="card-text1">Book price: {{book.price}} BAM</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Title & Author's name | &#160; Price</small>
      </div>
    </div>
  </div>
</div>

