<H1>ŽANROVI</H1>
<div class="row home-main-row" style="margin: auto; width: 70%">


  <a [routerLink]="['/dashboard/budgetlist']"
     routerLinkActive="router-link-active"
     class="btn btn-success">Bajke<i class="fas fa-user-plus"></i> </a>


  <a [routerLink]="['/dashboard/transactionlist']" style="margin-left: 15px"
     routerLinkActive="router-link-active"
     class="btn btn-success">Basne<i class="fas fa-user-plus"></i> </a>

  <a [routerLink]="['/dashboard/transactionlist']" style="margin-left: 15px"
     routerLinkActive="router-link-active"
     class="btn btn-success">Priče<i class="fas fa-user-plus"></i> </a>

  <a [routerLink]="['/dashboard/transactionlist']" style="margin-left: 15px"
     routerLinkActive="router-link-active"
     class="btn btn-success">Romani<i class="fas fa-user-plus"></i> </a>


  <!--------------------------- BOOKS & AUTHORS --------------------------------->
  <a [routerLink]="['/bookList']" style="margin-left: 55px"
     routerLinkActive="router-link-active"
     class="btn btn-danger">Books<i class="fas fa-user-plus"></i> </a>

  <a [routerLink]="['/authorList']" style="margin-left: 55px"
     routerLinkActive="router-link-active"
     class="btn btn-danger">Authors<i class="fas fa-user-plus"></i> </a>
</div>


